[Unit]
Description=A dynamic DNS client
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/dness -c /etc/dness/dness.conf
